<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="/d3"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <style>
  body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }
  .tooltip {
    width: 200px;
    height: 100px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    padding: 5px;
    font: 12px roboto;

    background: #566573  ;
    border: 1px;
    border-radius: 5px;
    color: #ECEFF1;
    opacity: 0.1;
  }
  </style>
</head>

<body>
  <script>
  var width = 2000,
  height = 1200;


  var svg = d3.select( "body" )
  .append( "svg" )
  .attr("viewBox", "-1000 -600 2000 1200");


  // add the tooltip area to the webpage
  let tooltip = d3.select("body").append("div")
  .attr("class", "tooltip")
  .style("opacity", 0.1);


  d3.json("/database.json", function(json) {

    var network=format_to_network(json);

/*
//repartition éclatee
    var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) {return d.id; }).strength(function(d,i){return 0.01;}))
    .force("charge", d3.forceManyBody(20))
    .force("charge", d3.forceCollide().radius(10))
    .force("r", d3.forceRadial(function(d,i)  {return (i%10+1)*50 }))
    .on("tick", ticked);
*/

//repartition démelage
    var simulation = d3.forceSimulation()
.force("link", d3.forceLink().id(function(d) {return d.id; }).distance(function(d,i){return 1}))
  .force("charge", d3.forceCollide().radius(30))
//   .force("r", d3.forceRadial(function(d)  {return d.nomination.award === "Best Motion Picture of the Year" ? 50 : 500; }))
  .force("center", d3.forceCenter(0,0))






    var link = svg.append("g")
    .attr("class", "links")
    .selectAll("line")
    .data(network.links)
    .enter().append("line")
    .attr("stroke", "grey");

    var color=d3.scaleOrdinal(d3.schemeCategory10);

    var node = svg.append("g")
    .attr("class", "nodes")
    .selectAll("circle")
    .data(network.nodes)
    .enter().append("circle")
    .attr("r", 8)
    .attr("id", function(d) { return "_" + d.id; })
    .attr('fill',function(d){return color(d.nomination.award)})
    .on("mouseover", d => {
      tooltip.transition()
      .duration(1000)
      .style("opacity", 0.5);
      tooltip.html(`<p><b>Name : </b>${d.name}</p>`+`<p><b>Film : </b>${d.nomination.movie}</p>`+`<p><b>Nomination : </b>${d.nomination.award}</p>`)
      //tooltip.html(`<b>${d.nomination.movie}</b>`)
      .style("left", (d3.event.pageX + 5) + "px")
      .style("top", (d3.event.pageY - 28) + "px");


        d3.selectAll("circle").style("opacity", .1);

        d3.select("#_" + d.id).attr("r", 20).style("opacity",1)
          .transition().attr("r", 8);
        d3.selectAll("line").style("opacity", .1);
        touchID=d.id;console.log(touchID)

        svg.selectAll("line")
          .filter(function(d) {
            if(d.source.id === touchID || d.target.id === touchID) {
              d3.selectAll("circle").filter(function(f) {
                if(d.source.id === f.id || d.target.id === f.id) { return true; }
              }).style("opacity", 1)
              return true;
            }
          })
          .style("opacity", 1)
          .attr("stroke","black");








    })
    .on("mouseout", d => {
      tooltip.transition()
      .duration(500)
      .style("opacity", 0);

      d3.selectAll("circle").style("opacity",1);
      d3.selectAll("line").style("opacity",1).attr("stroke","grey");


    })
    .call(d3.drag()
    .on("start", dragstarted)
    .on("drag", dragged)
    .on("end", dragended));

    simulation
    .nodes(network.nodes)
    .on("tick", ticked);


    simulation.force("link")
    .links(network.links);


    function ticked () {
      link.attr("x1", function(d) { return d.source.x; })
      .attr("y1", function(d) { return d.source.y; })
      .attr("x2", function(d) { return d.target.x; })
      .attr("y2", function(d) { return d.target.y; });

      node.attr("cx", function (d) { return d.x; })
      .attr("cy", function(d) { return d.y; });


    }

  });


  function dragstarted(d) {
    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
    d.fx = d.x;
    d.fy = d.y;
  }

  function dragged(d) {
    d.fx = d3.event.x;
    d.fy = d3.event.y;
  }

  function dragended(d) {
    if (!d3.event.active) simulation.alphaTarget(0);
    d.fx = null;
    d.fy = null;
  }





  function is_alone(data){
    var output=[];

    for (var i=0;i<data.nodes.length;i++){
      c=1;
      for (var j=0;j<data.links.length;j++){
        if (data.nodes[i].id==data.links[j].source_id || data.nodes[i].id==data.links[j].target_id ){
          c=0;
        }

      }
      if (c==1){
        output.push(data.nodes[i]);
      }
    }
    return output;
  }


  function format_to_network(data){
    n=data.length;

    network={"nodes":[],"links":[]}
    for (var i=0;i<n;i++){
      actor={};
      actor.name=data[i].name;
      actor.id=data[i].id;
      actor.nomination=data[i].nomination[0];
      network.nodes.push(actor);
      credtis_i=[];
      credits_i=data[i].credits.crew.concat(data[i].credits.cast);
      movies_i=[];
      for (var j=i+1;j<n;j++){
        movies_j=[];
        credits_j= data[j].credits.crew.concat(data[j].credits.cast);
        for (var l=0;l<credits_i.length;l++){
          for (var m=0;m<credits_j.length;m++){
            if (movies_i.includes(credits_i[l].id)==false && movies_j.includes(credits_j[m].id)==false && credits_i[l].id===credits_j[m].id){
              link={};
              movies_i.push(credits_i[l].id);
              movies_j.push(credits_j[m].id);
              link.source=data[i].id;
              link.target=data[j].id;
              link.movie=credits_i[l].original_title;
              link.movie_id=credits_i[l].id;
              network.links.push(link);
            }
          }
        }

      }
    }
    return network;
  }



  </script>
</body>
